<!-- JavaScript at the bottom for fast page loading -->

<script type="text/javascript" src="/js/libs/zepto.min.js"></script>
<!-- scripts concatenated and minified via ant build script -->
<script type="text/javascript" src="/js/mylibs/helper.js"></script>

<!-- end concatenated and minified scripts-->

<script>
    // iPhone Scale Bug Fix, read this when using http://www.blog.highub.com/mobile-2/a-fix-for-iphone-viewport-scale-bug/
    window.onload = function () {
        MBP.scaleFix();
    }
    MBP.hideUrlBarOnLoad();

</script>
