
{% include nav_init %}

<div class="container header">
    <div class="row">
        <div class="fourcol logo">
            <a href="/" id="logoLink"></a>
        </div>
        <div class="eightcol last top-nav">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services/" class="{{ servicesPageSelected }}">Services</a></li>
                    <li><a href="/jobs/" class="{{ jobsPageSelected }}">Jobs</a></li>
                    <li><a href="/blog/" class="">Blog</a></li>
                    <li><a href="/team/" class="{{ teamPageSelected }}">Team</a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>

{% include dropdown_nav.html %}